build/
llvm-project/
dataset/*
!dataset/README.md
!dataset/dataset.jpg
result/*
!result/diff_result.txt
test/bcoutput/*
!test/bcoutput/
test/lloutput/*
!test/lloutput/
pass_build/
.vscode/
git_diff/
test/bcoutput/*
AFL/
libclang/llvm-project/
aosp/*
!aosp/README.md
test
test_program